/*
Theme Name: kuri.mu
Theme URI: http://kuri.mu
Description: The default homepage of kuri.mu, nothing fancy.. yet :)
Version: 1.0
Author: Aymeric Mansoux
Tags: hard-coded, font-face, in-your-face, crack
*/

@font-face {
    font-family: 'TeachersPetRegular';
    src: url('fnt/teacherspet.eot');
    src: local('Teachers Pet'), local('TeachersPet'), url('fnt/teacherspet.woff') format('woff'), url('fnt/teacherspet.ttf') format('truetype'), url('fnt/teacherspet.svg#TeachersPet') format('svg');
}

p, form, input, div {
    font-family: TeachersPetRegular;
    font-size: 16px;
    line-height: 24px;
    color: #00b3fd;
}

a {
    color: #00b3fd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
    background-repeat: repeat-x;
    background-position: -120px -20px;
    background-color: #dbf3fd;
    background-image:url('img/clouds.png')
}

img#logo {
    padding-top: 10%;
}

.floatright {
    float: right;
    width: 200px;
}

form {
    padding-top: 8px;
    height: 38px;
    text-align: center;
}


input.email {
    background-color: white;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    color: #9cbd00;
}

button.submit {
    font-family: TeachersPetRegular;
    height: 38px;
    font-size: 16px;
    background-color: white;
    color: #9cbd00;
    border-style: solid;
    border-color: #9cbd00;
    border-width: 2px;
    cursor: pointer;
}

.wrapper {
    width: 586px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -74px;
}

.wrapper p {
    margin-left: 10px;
    margin-right: 10px;
}

.footer, .push {
    height: 74px;
    text-align: center;
}

.footer {
    background-color:black;
}

.footer p {
    padding-top: 4px;
    background-color:black;
    color: #dbf3fd;
}
